/*nav*/
header {
  position: sticky;
  top: 0px;
  z-index: 10;
  width: 100%;
  margin-top: -13px;
}

.nav-link {
  background-size: 0% 3px;
  background-image: linear-gradient(to right, yellow, orange, red);
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: 1s;
  font-family: "Merriweather", serif;
  font-size: 25px;
}

.navbar-brand {
  font-size: 25px;
  color: #d5d4d0;
  font-weight: 300;
  font-family: fangsong;
  font-size: xx-large;
}
a:hover {
  background-size: 100% 3px;
}

.navbar {
  z-index: 1;
}

.encabezado {
  .encabezado__nav {
    margin: 0px;
    background-color: currentColor;
    a {
      color: #d5d4d0;
    }
  }
}
