@for $value from 0 to 100 {
  .ancho-#{$value} {
    width: #{$value + "%"};
  }
  .alto-#{$value} {
    height: #{$value + "%"};
  }
}
$colors: (
  "red": #ff0000,
  "green": #00ff00,
  "blue": #0000ff,
);

@each $color in $colors {
  .h1-#{$color} {
    color: #{$color};
  }
}

iframe {
  margin: 8px;
}

.par-transferencia {
  h2 {
    margin: 10px 0px 0px 72px;
  }
  .par-transferencia__titulo {
    color: red;
    font-weight: bold;
    font-size: 20px;
  }
  .p-white {
    color: white;
    font-size: 20px;
  }
  span {
    font-size: 20px;
    color: white;
    .t-black {
      font-weight: bold;
    }
  }
}
