@import "_spaces.scss";
@import "_nav.scss";
@import "_btn.scss";
@import "_carousel.scss";
@import "_imagenes.scss";
@import "_form.scss";

$blue: blue;
$pepe: 16px;
$juan: 4px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

/*body*/
body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  background-repeat: no-repeat;
  min-height: 100vh;

  div .seccion1 {
    margin: 16px 0px 0px -21px;
  }

  .seccion1 {
    .seccion1__carousel {
      margin: 0 $pepe ($juan * 4) $pepe;
    }
  }

  .seccion2 {
    .seccion2__texto {
      margin-left: 39px;
    }
  }

  .seccion3 {
    .seccion3__card {
      width: 18rem !important;
      background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
      padding: 10px;
    }
  }
}

/*parrafos*/
.par-1 {
  font-size: large;
  line-height: ($pepe * 2);
  font-family: "Lexend Deca", sans-serif;
  font-family: "Montserrat", sans-serif;
  color: #979797;
}

.par-2 {
  @extend .par-1;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Montserrat", sans-serif;
  color: #979797;
}

/*titulos*/

.titulo-index {
  .titulo-index__tittle {
    font-family: "Merriweather", serif;
    color: #a2a2a2;
  }
}

/*Footer*/
.footerHr {
  height: $juan;
}

.pie-redes {
  .pie-redes__titulo {
    margin: -20px 0px -19px 6px;
  }
  .pie-redes__footer {
    margin: -57px;
  }
}

.redes {
  margin: 80px 0px 0px 0px;
  background-color: aliceblue;
  width: 100%;
}

hr .footerHr {
  padding: 3px;
  background-color: black !important;
}

iframe {
  height: 100%;
}

@media (max-width: 528px) {
  img {
    width: 200px;
  }
  footer {
    font-size: small;
  }
}

@media (max-width: 728px) {
  img {
    display: flex;
  }
}
