.ancho-0 {
  width: 0%;
}

.alto-0 {
  height: 0%;
}

.ancho-1 {
  width: 1%;
}

.alto-1 {
  height: 1%;
}

.ancho-2 {
  width: 2%;
}

.alto-2 {
  height: 2%;
}

.ancho-3 {
  width: 3%;
}

.alto-3 {
  height: 3%;
}

.ancho-4 {
  width: 4%;
}

.alto-4 {
  height: 4%;
}

.ancho-5 {
  width: 5%;
}

.alto-5 {
  height: 5%;
}

.ancho-6 {
  width: 6%;
}

.alto-6 {
  height: 6%;
}

.ancho-7 {
  width: 7%;
}

.alto-7 {
  height: 7%;
}

.ancho-8 {
  width: 8%;
}

.alto-8 {
  height: 8%;
}

.ancho-9 {
  width: 9%;
}

.alto-9 {
  height: 9%;
}

.ancho-10 {
  width: 10%;
}

.alto-10 {
  height: 10%;
}

.ancho-11 {
  width: 11%;
}

.alto-11 {
  height: 11%;
}

.ancho-12 {
  width: 12%;
}

.alto-12 {
  height: 12%;
}

.ancho-13 {
  width: 13%;
}

.alto-13 {
  height: 13%;
}

.ancho-14 {
  width: 14%;
}

.alto-14 {
  height: 14%;
}

.ancho-15 {
  width: 15%;
}

.alto-15 {
  height: 15%;
}

.ancho-16 {
  width: 16%;
}

.alto-16 {
  height: 16%;
}

.ancho-17 {
  width: 17%;
}

.alto-17 {
  height: 17%;
}

.ancho-18 {
  width: 18%;
}

.alto-18 {
  height: 18%;
}

.ancho-19 {
  width: 19%;
}

.alto-19 {
  height: 19%;
}

.ancho-20 {
  width: 20%;
}

.alto-20 {
  height: 20%;
}

.ancho-21 {
  width: 21%;
}

.alto-21 {
  height: 21%;
}

.ancho-22 {
  width: 22%;
}

.alto-22 {
  height: 22%;
}

.ancho-23 {
  width: 23%;
}

.alto-23 {
  height: 23%;
}

.ancho-24 {
  width: 24%;
}

.alto-24 {
  height: 24%;
}

.ancho-25 {
  width: 25%;
}

.alto-25 {
  height: 25%;
}

.ancho-26 {
  width: 26%;
}

.alto-26 {
  height: 26%;
}

.ancho-27 {
  width: 27%;
}

.alto-27 {
  height: 27%;
}

.ancho-28 {
  width: 28%;
}

.alto-28 {
  height: 28%;
}

.ancho-29 {
  width: 29%;
}

.alto-29 {
  height: 29%;
}

.ancho-30 {
  width: 30%;
}

.alto-30 {
  height: 30%;
}

.ancho-31 {
  width: 31%;
}

.alto-31 {
  height: 31%;
}

.ancho-32 {
  width: 32%;
}

.alto-32 {
  height: 32%;
}

.ancho-33 {
  width: 33%;
}

.alto-33 {
  height: 33%;
}

.ancho-34 {
  width: 34%;
}

.alto-34 {
  height: 34%;
}

.ancho-35 {
  width: 35%;
}

.alto-35 {
  height: 35%;
}

.ancho-36 {
  width: 36%;
}

.alto-36 {
  height: 36%;
}

.ancho-37 {
  width: 37%;
}

.alto-37 {
  height: 37%;
}

.ancho-38 {
  width: 38%;
}

.alto-38 {
  height: 38%;
}

.ancho-39 {
  width: 39%;
}

.alto-39 {
  height: 39%;
}

.ancho-40 {
  width: 40%;
}

.alto-40 {
  height: 40%;
}

.ancho-41 {
  width: 41%;
}

.alto-41 {
  height: 41%;
}

.ancho-42 {
  width: 42%;
}

.alto-42 {
  height: 42%;
}

.ancho-43 {
  width: 43%;
}

.alto-43 {
  height: 43%;
}

.ancho-44 {
  width: 44%;
}

.alto-44 {
  height: 44%;
}

.ancho-45 {
  width: 45%;
}

.alto-45 {
  height: 45%;
}

.ancho-46 {
  width: 46%;
}

.alto-46 {
  height: 46%;
}

.ancho-47 {
  width: 47%;
}

.alto-47 {
  height: 47%;
}

.ancho-48 {
  width: 48%;
}

.alto-48 {
  height: 48%;
}

.ancho-49 {
  width: 49%;
}

.alto-49 {
  height: 49%;
}

.ancho-50 {
  width: 50%;
}

.alto-50 {
  height: 50%;
}

.ancho-51 {
  width: 51%;
}

.alto-51 {
  height: 51%;
}

.ancho-52 {
  width: 52%;
}

.alto-52 {
  height: 52%;
}

.ancho-53 {
  width: 53%;
}

.alto-53 {
  height: 53%;
}

.ancho-54 {
  width: 54%;
}

.alto-54 {
  height: 54%;
}

.ancho-55 {
  width: 55%;
}

.alto-55 {
  height: 55%;
}

.ancho-56 {
  width: 56%;
}

.alto-56 {
  height: 56%;
}

.ancho-57 {
  width: 57%;
}

.alto-57 {
  height: 57%;
}

.ancho-58 {
  width: 58%;
}

.alto-58 {
  height: 58%;
}

.ancho-59 {
  width: 59%;
}

.alto-59 {
  height: 59%;
}

.ancho-60 {
  width: 60%;
}

.alto-60 {
  height: 60%;
}

.ancho-61 {
  width: 61%;
}

.alto-61 {
  height: 61%;
}

.ancho-62 {
  width: 62%;
}

.alto-62 {
  height: 62%;
}

.ancho-63 {
  width: 63%;
}

.alto-63 {
  height: 63%;
}

.ancho-64 {
  width: 64%;
}

.alto-64 {
  height: 64%;
}

.ancho-65 {
  width: 65%;
}

.alto-65 {
  height: 65%;
}

.ancho-66 {
  width: 66%;
}

.alto-66 {
  height: 66%;
}

.ancho-67 {
  width: 67%;
}

.alto-67 {
  height: 67%;
}

.ancho-68 {
  width: 68%;
}

.alto-68 {
  height: 68%;
}

.ancho-69 {
  width: 69%;
}

.alto-69 {
  height: 69%;
}

.ancho-70 {
  width: 70%;
}

.alto-70 {
  height: 70%;
}

.ancho-71 {
  width: 71%;
}

.alto-71 {
  height: 71%;
}

.ancho-72 {
  width: 72%;
}

.alto-72 {
  height: 72%;
}

.ancho-73 {
  width: 73%;
}

.alto-73 {
  height: 73%;
}

.ancho-74 {
  width: 74%;
}

.alto-74 {
  height: 74%;
}

.ancho-75 {
  width: 75%;
}

.alto-75 {
  height: 75%;
}

.ancho-76 {
  width: 76%;
}

.alto-76 {
  height: 76%;
}

.ancho-77 {
  width: 77%;
}

.alto-77 {
  height: 77%;
}

.ancho-78 {
  width: 78%;
}

.alto-78 {
  height: 78%;
}

.ancho-79 {
  width: 79%;
}

.alto-79 {
  height: 79%;
}

.ancho-80 {
  width: 80%;
}

.alto-80 {
  height: 80%;
}

.ancho-81 {
  width: 81%;
}

.alto-81 {
  height: 81%;
}

.ancho-82 {
  width: 82%;
}

.alto-82 {
  height: 82%;
}

.ancho-83 {
  width: 83%;
}

.alto-83 {
  height: 83%;
}

.ancho-84 {
  width: 84%;
}

.alto-84 {
  height: 84%;
}

.ancho-85 {
  width: 85%;
}

.alto-85 {
  height: 85%;
}

.ancho-86 {
  width: 86%;
}

.alto-86 {
  height: 86%;
}

.ancho-87 {
  width: 87%;
}

.alto-87 {
  height: 87%;
}

.ancho-88 {
  width: 88%;
}

.alto-88 {
  height: 88%;
}

.ancho-89 {
  width: 89%;
}

.alto-89 {
  height: 89%;
}

.ancho-90 {
  width: 90%;
}

.alto-90 {
  height: 90%;
}

.ancho-91 {
  width: 91%;
}

.alto-91 {
  height: 91%;
}

.ancho-92 {
  width: 92%;
}

.alto-92 {
  height: 92%;
}

.ancho-93 {
  width: 93%;
}

.alto-93 {
  height: 93%;
}

.ancho-94 {
  width: 94%;
}

.alto-94 {
  height: 94%;
}

.ancho-95 {
  width: 95%;
}

.alto-95 {
  height: 95%;
}

.ancho-96 {
  width: 96%;
}

.alto-96 {
  height: 96%;
}

.ancho-97 {
  width: 97%;
}

.alto-97 {
  height: 97%;
}

.ancho-98 {
  width: 98%;
}

.alto-98 {
  height: 98%;
}

.ancho-99 {
  width: 99%;
}

.alto-99 {
  height: 99%;
}

.h1-red #ff0000 {
  color: red #ff0000;
}

.h1-green #00ff00 {
  color: green #00ff00;
}

.h1-blue #0000ff {
  color: blue #0000ff;
}

iframe {
  margin: 8px;
}

.par-transferencia {
  background-color: black;
}

.par-transferencia h2 {
  margin: 10px 0px 0px 72px;
}

.par-transferencia .par-transferencia__titulo {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.par-transferencia .p-white {
  color: white;
  font-size: 20px;
}

.par-transferencia span {
  font-size: 20px;
  color: white;
}

.par-transferencia span .t-black {
  font-weight: bold;
}

/*nav*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
  width: 100%;
  margin-top: -13px;
  -webkit-box-shadow: 10px 5px 5px black;
          box-shadow: 10px 5px 5px black;
}

.nav-link {
  background-size: 0% 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#e9e9e9), color-stop(#dddddd), to(aliceblue));
  background-image: linear-gradient(to right, #e9e9e9, #dddddd, aliceblue);
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  font-family: "Montserrat", Sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 10px;
}

.navbar-brand {
  font-family: "Montserrat", Sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 9px;
}

a:hover {
  background-size: 100% 3px;
}

.navbar {
  z-index: 1;
}

.encabezado .encabezado__nav {
  margin: 0px;
  background-color: currentColor;
}

.encabezado .encabezado__nav a {
  color: #d5d4d0;
}

.encabezado .encabezado__nav li {
  margin-left: 26px;
}

.seccion3 .seccion3__btn .btn-primary {
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  color: black;
  font-weight: 600;
  border: 3px;
}

.seccion3 .seccion3__btn .btn-primary:hover {
  color: white;
}

.btn-primary {
  border: 10px;
}

.btn-sube {
  margin: -35px 0px 0px 0px;
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  color: black;
  font-weight: 600;
  border: 3px;
}

.btn-sube-formulario {
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  font-weight: 600;
  border: 6px;
  width: 96px;
  margin: 13px 0px 0px 1px;
  border-radius: 5px;
  height: 35px;
}

.btn-sube-formulario:hover {
  color: white;
}

.carousel-inner {
  height: 446px;
  border-radius: 21px;
}

.seccion4 .seccion4__card {
  height: 300px;
  -webkit-box-shadow: 10px 5px 5px black;
          box-shadow: 10px 5px 5px black;
}

.card-img-top-233 {
  width: 265px;
  height: 250px;
}

.fotos-hover {
  width: 100%;
  background: #888787;
  background: -webkit-gradient(linear, left top, right top, from(rgba(136, 135, 135, 0)), color-stop(49%, black), to(#787878));
  background: linear-gradient(90deg, rgba(136, 135, 135, 0) 0%, black 49%, #787878 100%);
  padding-left: 54px;
}

.img-hover {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.img-hover:hover {
  -webkit-transform: scaleX(2) scaleY(2);
          transform: scaleX(2) scaleY(2);
  margin-top: 150px;
  -webkit-transition: 2s;
  transition: 2s;
}

.img-hover-left:hover {
  -webkit-transform: scaleX(2) scaleY(2) !important;
          transform: scaleX(2) scaleY(2) !important;
  margin-left: 120px;
  margin-top: 150px;
}

.img-hover-right:hover {
  -webkit-transform: scaleX(2) scaleY(2) !important;
          transform: scaleX(2) scaleY(2) !important;
  margin-left: -120px;
  margin-top: 150px;
}

/*formulario ubicacion*/
#contact {
  background: #f9f9f9;
  padding: 23px;
  width: 87%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #000;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

/*
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #f15a24;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 20px;
  height: 43px;
}*/
.parrafo-form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Merriweather", serif;
}

.titulo-u {
  margin: 53px 41px 52px 10px;
  text-align: center;
}

.par-u {
  margin: 22px 0px 40px 0px;
}

.map {
  height: 500px;
  width: 100%;
}

#form {
  margin: 0px 75px 0px 75px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
}

/*body*/
body {
  background-image: -webkit-gradient(linear, left top, right top, from(#434343), to(black));
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

body div .seccion1 {
  margin: 16px 0px 0px -21px;
}

body .seccion1 .seccion1__carousel {
  margin: 0 16px 16px 16px;
}

body .seccion2 .seccion2__texto {
  margin-left: 39px;
}

body .seccion3 .seccion3__card {
  width: 18rem !important;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dfe9f3), to(white));
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  padding: 10px;
}

/*parrafos*/
.par-1, .par-2 {
  font-size: large;
  line-height: 32px;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Montserrat", sans-serif;
  color: #979797;
}

.par-2 {
  font-family: "Lexend Deca", sans-serif;
  font-family: "Montserrat", sans-serif;
  color: #979797;
}

/*titulos*/
.titulo-index .titulo-index__tittle {
  font-family: "Merriweather", serif;
  color: #a2a2a2;
}

/*Footer*/
.footerHr {
  height: 4px;
}

.pie-redes .nonblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-decoration: none;
  margin: 0px 0px 0px 0px;
}

.pie-redes .pie-redes__titulo {
  margin: 8px 0px 16px 8px;
}

.pie-redes .pie-redes__footer {
  margin: -46px 0px 0px 0px;
}

.pie-redes img:hover {
  -webkit-transform: scale(1.25, 1.25);
          transform: scale(1.25, 1.25);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.redes {
  margin: 80px 0px 0px 0px;
  background-color: aliceblue;
  width: 100%;
}

hr .footerHr {
  padding: 3px;
  background-color: black !important;
}

iframe {
  height: 100%;
}
/*# sourceMappingURL=estilo.css.map */